# Ignore raw data
data/raw/*
!data/raw/README.md

# Ignore processed data
data/processed/*
!data/processed/README.md

# Ignore models
models/*
!models/README.md
# Allow model artifacts
!models/*.pkl
!models/*.json
!data/processed/matches_clean.csv
!data/processed/deliveries_clean.csv
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environment
.venv/
env/
.DS_Store

# Ensure models are tracked
!models/*.pkl
!models/*.json
